* 1. Use a more-intuitive box-sizing model. */ *,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  /* colors */
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --active-cyan: hsl(173, 61%, 77%);
  --White: hsl(0, 0%, 100%);
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--Light-grayish-cyan);
  color: var(--Stone-600);
  text-align: left;
  flex-direction: column;
  height: 100%;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove spinner (arrows) in number inputs for Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0 2rem;
}

.container {
  background-color: var(--White);
  border-radius: 20px;
  padding: 20px;
  margin: 2rem 0 5rem;
  max-width: 50rem;
}

p {
  color: var(--Dark-grayish-cyan);
  margin-bottom: 5px;
  font-size: 0.8rem;
}

fieldset{
  margin: 1rem 0;
}

.tip p {
  margin: 1rem 0;
}

/* BUTTONS  */

button {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.button.dark {
  background-color: var(--Very-dark-cyan);
}

.button.dark.custom {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
}

.button.dark.third,
.button.reset {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.button.dark.third:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-grayish-cyan);
}

.button.dark:hover,
.button.reset:hover {
  background-color: var(--active-cyan);
  color: var(--Very-dark-cyan);
}

/* INPUT FIELDS  */

.form-control,
.input-group-text {
  background-color: var(--Very-light-grayish-cyan);
}

.form-control:focus,
.form-control:hover {
  border-color: var(--Strong-cyan);
  box-shadow: 0 0 0 0.25rem rgba(0, 200, 200, 0.25); /* Custom glow */
  transition: 0.3s ease-in-out;
}

.form-control::placeholder {
  color: var(--Grayish-cyan);
}

.form-control::-ms-value {
  font-size: 1.5rem;
}

input[type="number"] {
  color: var(--Very-dark-cyan);
  font-size: 1.3rem;
}

.custom-input::placeholder {
  color: var(--Dark-grayish-cyan);
  /* font-size: 1.3rem; */
}

/* INNER CONTAINER  */

.inner-container {
  background-color: var(--Very-dark-cyan);
  padding: 2rem;
  border-radius: 15px;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.inner-container p,
.button.dark {
  color: var(--Very-light-grayish-cyan);
}

.inner-container span {
  color: var(--Grayish-cyan);
  font-size: 0.8rem;
  margin: 0;
}

.person {
  line-height: 1;
}

.amount {
  font-size: 2.5rem;
  color: var(--Strong-cyan);
}

.inner-container .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

/* FOOTER  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
